<!DOCTYPE html>
<html>
  <head>
  	<link rel="icon" type="image/png" href='/images/fb_icon.png'/>
    <title>Failed Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Failed SignUp</h1><br>
    <h3>Entered email address is existing already. Try to <a href='/'>login</a> with same email address </h3>
  </body>
</html>