<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
</head>
<body>
<div ng-app="" ng-controller="grpContrl">
	<nav class="navbar-custom navbar-fixed-top">
	<div class="container">

	<form class="navbar-form navbar-left" role="searchPeople" style="margin-left: -60px;">
		<a class="nav navbar-nav navbar-form" href="/homePage">
			<img alt="Logo" src="../images/fb_icon.png" width="35">
		</a>
		<div class="form-group" >
			<input type="text" class="form-control" name="search" placeholder="Search Facebook" ng-model= "searchPerson" style="width:400px;" ng-required="true">
		</div>
		<button type="submit" class="btn btn-default navbar-btn" ng-click="search()">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	</form>
	<ul class="nav navbar-nav navbar-form" style="margin-right:-110px">
		<li>
			<a href="/profilePage">Dhruv</a>
		</li>
		<li class="active">
			<a href="/homePage">Home</a>
		</li>
		<li>
			<a href="/editProf">Settings</a>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          	<ul class="dropdown-menu">
	            <li><a href="#">Create Group</a></li>
	            <li><a href="#">Settings</a></li>
	            <li><a href="#">LogOut</a></li>
          	</ul>
        </li>
	</ul>
	<a href="/signOut">
		<button type="submit" class="btn btn-default navbar-btn navbar-right">Sign Out</button></a>
	</div><!-- /.container-->
	</nav>
	<br>
	<br>
	<br>
	<center><h1>{{grpName}}</h1></center>
	<br>
	
	<div class="col-md-2">
		<ul class="nav nav-tabs nav-stacked">
		  <li role="presentation"><a href="/homePage">
		  	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
		   Newsfeed</a></li>
		  
		  <li role="presentation" class="active"><a href="#" ng-click="groups()">
		  	<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
		   Groups</a></li>
		  
		  <li role="presentation"><a href="#" ng-click="connections()">
		  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		   Friends <span class="badge"></span></a></li>
		</ul>	
	</div>

	<div class="col-md-1">
	
	</div>

	<div class="col-md-5">
		<h3>Members:</h3><br>
		<ul class="nav nav-tabs nav-stacked" ng-repeat="x in memberlist">
				  
			<!--<li class="list-group-item list-group-item-info">-->
        		<li class="list-group-item list-group-item-info"><a href="#">{{ x }}</a>
        		</li>
  				<br>
			<!--</li>-->
		</ul>
	</div>
	
	<div class="col-md-1">
	
	</div>

	<div class="col-md-3">
		<br>
		<br>
		<input type="text" class="form-control" ng-model="memname" placeholder="Add/Remove your friend" style="width:300px;top:8px">
  		<button type="submit" href="#" class="btn btn-primary navbar-btn" ng-click="add()">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
		<button type="submit" href="#" class="btn btn-danger navbar-btn" ng-click="remove()">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove</button>
	</div>
</div>
<script>
	
    function grpContrl($scope,$http,$location){
    	$scope.grpName = sessionStorage.gname; 
		$http({
			method: 'POST',
			url: '/getMembers',
			data: {"grpName": sessionStorage.gname}
		}).success(function (response){

			if(response.status == "Success") {
				//alert("Got success!");
				$scope.memberCount = response.members.length;
				$scope.memberlist = response.members.members;
			}
			else {
				alert('There are no any group right now!');
			}
		}).error(function(error){
			alert("this is the error");
		});
		
		$scope.members = function(pid){
			//alert("Requested Group id is: "+pid);
			sessionStorage.gid = pid;
	    	$http({
	            method: 'GET',
	            url: '/dispGrp',
	            data:{"gid":pid}
	         })
			window.location = '/dispGrp';
		};

		$scope.add = function(){
			//alert($scope.memname + ' Added');
			$http({
			method: 'POST',
			url: '/addMember',
			data: {"grpName": sessionStorage.gname,"member":$scope.memname}
			}).success(function(response){
				if(response.status == 'Success' ) {
					alert(response.member + " is added to the group");
					//document.getElementById("msg").innerHTML = response.connect;
				}
				else {
					alert("There is no any member with that name!");
				}
			}).error(function(error){
				alert("error");
			});
		};

		$scope.remove = function(){
			alert('You are trying to remove '+$scope.memname);
			$http({
			method: 'POST',
			url: '/removeMember',
			data: {"grpName": sessionStorage.gname,"member":$scope.memname}
			}).success(function(response){
				if(response.status == 'Success' ) {
					alert(response.member + " is deleted from the group");
					//document.getElementById("msg").innerHTML = response.connect;
				}
				else {
					alert("There is no any member with that name!");
				}
			}).error(function(error){
				alert("error");
			});
		};

 	}
</script>
</body>
</html>