<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-init = "init()" ng-controller="homePage">
<head>
 <% include head.ejs %>
</head>
<body>
	<% include fb_header.ejs %>
	<br>
	<br>
	<div class="col-md-2">
		<br>
		<ul class="nav nav-tabs nav-stacked">
		  <li role="presentation" class="active"><a href="/homePage">
		  	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
		   Newsfeed</a></li>
		  
		  <li role="presentation"><a href="#" ng-click="groups()">
		  	<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
		   Groups</a></li>
		  
		  <li role="presentation"><a href="#" ng-click="connections()">
		  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		   Friends <span class="badge"></span></a></li>
		</ul>
	</div>
	<div class="col-md-1">
	
	</div>

	<div class="col-md-6">
		<div class="form-group">
		<form class="form-horizontal" action="/postStatus" role="form" method="post">
			<h5><b>Update Status</b></h5>
			<input type="text-box" class="form-control" name="postStatus" placeholder="What's on your mind?" style="width:400px;" required>
			<br>
			<button type="submit" class="btn btn-primary">Post</button>
			<br>
			<br>

		</form>
		</div>
		
			<ul ng-repeat="x in newspost">
			  
			    <li class="list-group-item list-group-item-info"><b>{{ x.fname }}</b></li>
			    <li class="list-group-item list-group-item-info">{{ x.news }}</li>
			  
			</ul>
		
		
	</div>
	<div class="col-md-3">
	</div>
         
</body>
</html>