<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href='/images/fb_icon.png'/>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your personal information</h1>
    <div> 
        <p><strong>Username: </strong><%= username %></p>
        <br>
        <p><strong>First Name: </strong><%= fname %></p>
        <br>
        <p><strong>Last Name: </strong><%= lname %></p>
        <br>
	</div>
  </body>
</html>