<!DOCTYPE html>
<html>
  <head>
  	<link rel="icon" type="image/png" href='/images/fb_icon.png'/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>