<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href='/images/fb_icon.png'/>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Users in Database</h1>
    <div>
	       <% for(var i in data) 
	            {                     
            %>
           		    <p><strong>EmailId: </strong><%= data[i].emailid %></p>
                	<p><strong>Password: </strong><%= data[i].password %></p>
            		<br>       
           <% 
	            }  
	       %>
	</div>
  </body>
</html>