<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href='/images/fb_icon.png'/>
    <title>Successful Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your personal information</h1>
    <div> 
        <p><strong>EmailId: </strong><%= user %></p>
        <br>         
	</div>
  </body>
</html>